<article class="content static-tables-page">
    <div class="title-block">
        <h1 class="title"> Top 10 cua thang </h1>
    </div>
    <section class="section">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-block">
                        <div class="card-title-block">
                            <h3 class="title"> San pham</h3>
                        </div>
                        <section class="example">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Ten San Pham</th>
                                        <th>So Luong</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>San pham 1</td>
                                        <td>2000</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>San pham 2</td>
                                        <td>1500</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>San pham 3</td>
                                        <td>1300</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">4</th>
                                        <td>San pham 4</td>
                                        <td>1220</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">5</th>
                                        <td>San pham 5</td>
                                        <td>900</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">6</th>
                                        <td>San pham 6</td>
                                        <td>800</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">7</th>
                                        <td>San pham 7</td>
                                        <td>750</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">8</th>
                                        <td>San pham 8</td>
                                        <td>700</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">9</th>
                                        <td>San pham 9</td>
                                        <td>500</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">10</th>
                                        <td>San pham 10</td>
                                        <td>200</td>
                                    </tr>
                                </tbody>
                            </table>
                        </section>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-block">
                        <div class="card-title-block">
                            <h3 class="title"> Gian hang </h3>
                        </div>
                        <section class="example">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Ten gian hang</th>
                                        <th>Doanh thu</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Gian hang 1</td>
                                        <td>100,000,000</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Gian hang 2</td>
                                        <td>95,000,000</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>Gian hang 3</td>
                                        <td>90,000,000</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">4</th>
                                        <td>Gian hang 4</td>
                                        <td>85,000,000</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">5</th>
                                        <td>Gian hang 5</td>
                                        <td>80,000,000</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">6</th>
                                        <td>Gian hang 6</td>
                                        <td>68,000,000</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">7</th>
                                        <td>Gian hang 7</td>
                                        <td>50,000,000</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">8</th>
                                        <td>Gian hang 8</td>
                                        <td>40,000,000</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">9</th>
                                        <td>Gian hang 9</td>
                                        <td>30,000,000</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">10</th>
                                        <td>Gian hang 10</td>
                                        <td>20,000,000</td>
                                    </tr>
                                </tbody>
                            </table>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>